_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
*.gem
*.gemfile.lock
node_modules/
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
data/*.docx
data/*.csv
data/*.png
data/~$*
~$*
*.code-workspace

